# Build and compiler output
/build/
/Release/
/Debug/

# VS Code & Visual Studio files
.vscode/
.vs/

# System files
.DS_Store
Thumbs.db

# CMake cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile